tr:hover{
    background-color: rgba(25, 135, 84,0.75);
    td{
        color:white
    }
}
.blackdrop{
    z-index: 100;
}
.alert-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: fit-content;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #198754;
        color: #fff;
        .titulo{
            margin-left:10px;
            font-weight: 600;
        }
        .fechar{
            text-align: right;
            font-weight: 600;
            cursor: pointer;
            margin-right: 5px;
            margin-top: 5px
        }
    }

    .box-spinner{
        height: 50vh;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .spinner{   
            width: 50px;
            height: 50px;
        }
    }

    .conteudo{
        margin:10px;
        
        .filtro{
            width: 70vw;
        }

        .tabela{
            margin-top: 10px;
            border-top: 1px solid #e2e2e2;
            height: 50vh;
            overflow-y: auto;
            width: 100%;
        }

    }
}

.botoes{
    margin-top: 20px;
}

table{
    width: 100%;
}

thead{
    background-color: #198754;
}

th{
    vertical-align: middle;
    padding-left: 7px;
    color: white;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

tr{
    cursor:pointer;
}

td{
    vertical-align: middle;
    background: transparent;
}

