
tr:hover{
    background-color: rgba(25, 135, 84,0.75);
    td{
        color:white
    }
}

.celula-imagem:hover{
    height: 200x;
    transition: height 0.5s ;
    .imagem{
        height: 200px;
        transition: height 0.5s ;
    }
}

.botao-novo{
    margin-bottom: 5px;
}
th{
    vertical-align: middle;
    padding-left: 7px;
    color: white;
    
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
thead,tfoot{
    background-color: #198754;
}
tfoot{
    th{
        text-align: center;
        .paginator{
            display: inline-flex;
            background-color: transparent;
            align-items: center;
            .item-paginator{
                margin: 1px;
                border-radius: 4px;
                width: 30px;
                height: 25px;
                color: #fff;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
            }
            .item-paginator-ativo{
                color:#198754;
                background-color: #fff;

            }
        }
    }
}
.item-paginator:hover{
    background-color: #104b2f;
}
table{
    margin-top: 10px;
}
tr{
    cursor:pointer;
}
td{
    vertical-align: middle;
    background: transparent;
}
.imagem{
    height:50px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(25, 135, 84,0.2);
    border-width: 1px;
    margin-right: 10px;
}

.total{
    margin-top: 6px;
    font-weight: 600;
    vertical-align: middle;
}

.box-spinner{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner{   
        width: 50px;
        height: 50px;
    }
}