<div class="blackdrop" (click)="comando('fechar')" *ngIf="this.temFornecedorSelecionado()"></div>

<div class="alert-box" *ngIf="this.temFornecedorSelecionado()">
  <div class="fechar" (click)="comando('fechar')">x</div>
  <div class="conteudo">
    <!-- VISUALIZAÇÃO -->
    <div class="visualizar" *ngIf="!inEdicao">
      <div class="dados">
        <p class="fs-2 fw-semibold nome-empresarial">{{ fornecedor.nome_empresarial}}</p>
        <p class="informacao"><span class="label">CNPJ:</span> {{fornecedor.cnpj | cnpj}}</p>
        <p class="informacao"><span class="label">Razão Social: </span>{{ fornecedor.razao_social }}</p>
        <hr>
        <div class="fs-4 fw-semibold">Endereço</div>
        <div class="">
          {{fornecedor.endereco | enderecoCorrido}}
        </div>
        <hr>
        <div >
            <div class="fs-4 fw-semibold">Contatos</div>
            <ul class="list-group" >
              <li *ngFor="let contato of fornecedor.contatos" class="list-group-item" >
                <span *ngIf="contato.tipo == 'F'"><span class="tipo-contato">Telefone: </span>{{contato | telefoneCorrido}}</span>
                <span *ngIf="contato.tipo == 'E'"><span class="tipo-contato">Email: </span>{{contato.valor}}</span>
              </li>
            </ul>
        </div>
        <div class="botoes">
          <button class="btn btn-primary botao" (click)="iniciarEdicao()">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button class="btn btn-danger botao" (click)="comando('fechar')">
            <i class="bi bi-x-circle"></i> Fechar
          </button>
        </div>
      </div>
    </div>
    <!-- EDIÇÃO -->
    <div class="editar" *ngIf="inEdicao">
      <form [formGroup]="conteudoFormulario" (ngSubmit)="submeterFormulario()">
        <div class="fs-4 fw-semibold">Dados Básicos</div>
        <div class="dados-basicos">

            <label for="nome_empresarial" class="form-label label">Nome Empresarial:</label>
            <input
            type="text"
                id="nome_empresarial"
                formControlName="nome_empresarial"
                class="form-control campo-basico">
            <label for="razao_social" class="form-label label">Razão Social:</label>
            <input
            type="text"
            id="razao_social"
            formControlName="razao_social"
            class="form-control campo-basico">
            
            <label for="cnpj" class="form-label">CNPJ:</label>
            <input
                type="text"
                id="cnpj"
                formControlName="cnpj"
                class="form-control cnpj">
        </div>

        <hr>
         
      <div class="endereco">

        
        <div class="fs-4 fw-semibold">Endereço</div>
        <div class="dados-basicos" formGroupName="endereco">

          <div class="cep-logradouro">
            
            <div class="container-cep">
              <label for="cep" class="form-label">CEP:</label>
              <input
              type="text"
              id="cep"
              formControlName="cep"
              class="form-control cep">
            </div>

            <div >
              <label for="logradouro" class="form-label">Logradouro:</label>
              <input
              type="text"
              id="logradouro"
              formControlName="logradouro"
              class="form-control logradouro">
            </div>
            
          </div>
          <div class="detalhes-endereco-container">
            <div>
              <label for="numero" class="form-label">Número:</label>
              <input
                  type="text"
                  id="numero"
                  formControlName="numero"
                  class="form-control numero">
            </div>
            
            <div class="container-complemento">
              <label for="complemento" class="form-label">Compl.:</label>
              <input
                  type="text"
                  id="complemento"
                  formControlName="complemento"
                  class="form-control complemento">
            </div>
            <div class="container-bairro">
              <label for="bairro" class="form-label">Bairro:</label>
              <input
                  type="text"
                  id="bairro"
                  formControlName="bairro"
                  class="form-control bairro">
            </div>

            <div class="container-cidade">

              <label for="cidade" class="form-label">Cidade:</label>
              <input
              type="text"
              id="cidade"
              formControlName="cidade"
              class="form-control cidade">
              
            </div>
            <div class="container-estado">

              <label for="estado" class="form-label">Estado:</label>
              <input
              type="text"
              id="estado"
              formControlName="estado"
              class="form-control estado">
              
            </div>
          </div>
        </div>
      </div>
      
      <hr>

      <div  class="contatos">
        <div class="cabecalho" formGroupName="contato-novo">

          <div class="fs-4 fw-semibold">Contatos</div> 

          <div class="container-adicionar-contato">
            <select
              name="tipo-novo"
              class="form-control tipo-novo"
              formControlName="tipo-novo"
              id="tipo-novo">
              <option value="F">Telefone</option>
              <option value="E">Email</option>
            </select>
            <input type="text" class="form-control valor-novo" formControlName="valor-novo" >
  
            <div class="icone-mais-background" (click)="incluirContato()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus icone" viewBox="0 0 16 16">
                <path id="path-mais" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
            </div>
            
          </div>
        </div>
        

        <div formArrayName="contatos" *ngFor="let contatoControl of getContatos(); let i = index">
          <div class="linha-de-contato" [formGroupName]="i">
            <select
              name="tipo"
              class="form-control tipo"
              formControlName="tipo"
              id="">
              <option value="F">Telefone</option>
              <option value="E">Email</option>
            </select>
            
            <input type="text" class="form-control valor" formControlName="valor" >
            <div class="icone-mais-background" (click)="excluirContato(i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-trash-fill icone" viewBox="0 0 16 16">
                <path id="path-trash" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="botoes">
        <button type="submit" class="btn btn-primary botao-editar" [disabled]="!conteudoFormulario.valid">
          <i class="bi bi-floppy-fill"></i> Salvar
        </button>
        <button class="btn btn-danger botao-editar" (click)="comando('excluir')">
          <i class="bi bi-trash-fill"></i> Excluir
        </button>
        <button class="btn btn-danger botao-editar" (click)="comando('fechar')">
          <i class="bi bi-x-circle"></i> Cancelar
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
