.blackdrop{
    z-index: 100;
}
.alert-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: fit-content;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #198754;
        color: #fff;
        .titulo{
            margin-left:10px;
            font-weight: 600;
        }
        .fechar{
            text-align: right;
            font-weight: 600;
            cursor: pointer;
            margin-right: 5px;
            margin-top: 5px
        }
    }

    .conteudo{
        height: fit-content;
        margin:10px;
        display: flex;
        flex-wrap: wrap;
        
        .busca{
            width: 58vw;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .filtro{
                width: 100%;
            }

            

            .box-spinner{
                height: 50vh;
                width: 58vw;
                display: flex;
                justify-content: center;
                align-items: center;
                .spinner{   
                    width: 50px;
                    height: 50px;
                }
            }

            .tabela{
                height: 50vh;
                width: 100%;
                margin-top: 10px;
                border-top: 1px solid #e2e2e2;
                max-height: 66vh;
                flex-grow: 1;
                overflow-y: scroll;
                            
                .imagem{
                    height:50px;
                    border-style: solid;
                    border-radius: 10px;
                    border-color: rgba(25, 135, 84,0.2);
                    border-width: 1px;
                    margin-right: 10px;
                }
                .celula-imagem:hover{
                    height: 200x;
                    transition: height 0.5s ;
                    .imagem{
                        height: 200px;
                        transition: height 0.5s ;
                    }
                }
                tr:hover{
                    background-color: rgba(25, 135, 84,0.75);
                    td{
                        color:white
                    }
                }
                
            }
        }
        .linha-vertical{
            width: 4px;
            flex-grow: 1;
            background-color: rgb(25, 135, 84);
            border-radius: 8px;
            height: 58vh;
            max-height: 72vh;
            margin-left: 10px;
        }
        /* .alert{
            margin: 10px;
        } */
        .amostra{
            width: 27vw;
            margin-left: 10px;
            border: 4px solid rgb(25, 135, 84);
            display: flex;
            flex-direction: column;
            .container-imagem{
                display: flex;
                justify-content: center;
                margin-left: 10px;
                .imagem{
                    height:20vh;
                    border-style: solid;
                    border-radius: 10px;
                    border-color: rgba(25, 135, 84,0.2);
                    border-width: 1px;
                    margin-right: 10px;
                    margin-top: 10px;
                }
            }
            .descricao{
                margin: 10px;
                .informacao{
                    font-size: small;
                }
                .label{
                    font-size: small;
                    font-weight: 600;
                    align-content: center;
                    margin-bottom: 0px;
                }
                .valores{
                    display: flex;
                    justify-content: space-between;
                    .campo{
                        width: 13vw;
                    }
                }
            }
            .botoes{
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                .botao{
                    margin-left: 10px;
                    margin-right: 10px;
                    width: 13vw;
                    height: 5vh;
                }
            }
        }
        .amostra.desativado{
            display: block;
            width: 27vw;
            .informacao{
                width: 27vw;
                text-align: center;
                font-weight: 600;
            }
            .icone-desativado{
                width: 27vw;
                text-align: center;
                vertical-align: middle;
            }
            .container-botao{
                width: 27vw;
                text-align: center;
                .botao{
                    margin-top: 32vh;
                    width: 20vw;
                }
            }
        }

        
    }

}

thead{
    background-color: #198754;
}

th{
    vertical-align: middle;
    padding-left: 7px;
    color: white;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

tr{
    cursor:pointer;
}

td{
    vertical-align: middle;
    background: transparent;
}
