
.container-superior{
    height: 400px;
    width: 100%;
    display: flex;
    .card-superior{
        width: 50%;
    }
    .notificacoes{
        margin-left: 10px;
    }
}

.container-estatistica{
    margin-top: 10px;
    border: 2px solid #198754;
    .cabecalho{
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        background-color: #198754;
        color: #fff;
        .icone,.titulo{
            margin-left: 10px;
        }
        .icone{
            margin-top: 3px;
        }
    }
}

