.container-superior{
    width: 100%;
    height: 400px;
    background-color: rgb(151, 235, 235);
    display: flex;
    justify-content: space-between;
}

.container-estatistica{
    margin-top: 10px;
    .cabecalho{
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        background-color: #198754;
        color: #fff;
        .icone,.titulo{
            margin-left: 10px;
        }
        .icone{
            margin-top: 3px;
        }
    }
}