<div class="container-fluid">
    <div class="teste">
        <div class="dentro-1"></div>
        <div class="dentro-2"></div>
    </div>
    <div class="container-superior">
        <app-resumo-do-dia class="card-superior"></app-resumo-do-dia>
        <app-notificacoes class="card-superior notificacoes"></app-notificacoes>
    </div>
    <div class="container-estatistica">
        <div class="cabecalho">
            <div class="icone"><i class="bi bi-bar-chart-line-fill"></i></div>
            <div class="fs-5 fw-semibold titulo"> Estatísticas
            </div>
        </div>
        <canvas id="chart"></canvas>

    </div>
</div>