<div class="row">
    <div class="col-md">
      <button class="btn btn-success botao-nova" (click) = "prepararCadastro()" >
        <i class="bi bi-file-earmark-plus-fill"></i> Nova
      </button>
    </div>
</div>

<div class="row filtro">
    <div class="col-sm-3">
        <select
          class="form-select"
          name="selecionar-filtro"
          id="selecionar-filtro"
          [(ngModel)]="criterioFiltro"
          >
          <option value="id">Código</option>
          <option value="nu_nota_fiscal">Número da Nota Fiscal</option>
          <option value="dt_hr_entrada">Data/Hora de Entrada</option>
          <option value="fornecedor">Fornecedor</option>
          <option value="valor_nota">Valor da nota</option>
        </select>
      </div>
      <div class="col-md-6">
        <input
          type="search"
          class="form-control"
          name="filtro-valor"
          id="filtro-valor"
          [(ngModel)]="valorFiltro"
        />
      </div>
      <div class="col-sm-2">
        <div class="total">Total: {{totalFiltrado |contadorFiltro:todasEntradas:valorFiltro:criterioFiltro}}</div>
        <!-- <div class="total">Total: {{totalFiltrado |contadorFiltro:todosFornecedores:valorFiltro:criterioFiltro}}</div> -->
      </div>

      <!-- TABELA -->
      
      <!-- <div class="row">
        <div class="col-md">
            <table class="table table-striped">
                <thead>
                    <th>Cód.</th>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                    <th>Nome Empresarial</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                  </thead>
                  <tbody>
                    <tr 
                    *ngFor="let fornecedor of todosFornecedores | filtroLista:valorFiltro:criterioFiltro;"
                    (click)="selecionarFornecedor(fornecedor)">
                      <td>{{ fornecedor.id | insereZeros:4}}</td>
                      <td>{{ fornecedor.razao_social | encurtar:25}}</td>
                      <td>{{ fornecedor.cnpj | cnpj}}</td>
                      <td>{{ fornecedor.nome_empresarial | encurtar:50 }}</td>
                      <td>{{ fornecedor.endereco.cidade }}</td>
                      <td>{{ fornecedor.endereco.estado }}</td>
                    </tr>
                  </tbody>
            </table>

            <app-modal-fornecedor></app-modal-fornecedor>

        </div>
      </div> -->
      
    </div>