.blackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 0;
}

.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 89vh;
    padding: 10px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    overflow-y: scroll;

    .fechar{
        text-align: right;
        font-weight: 600;
        cursor: pointer;
        margin-right: 5px;
    }

    .conteudo{
        // display: flex;
        width: 65vw;
        .visualizar{

            .dados{
                margin-left: 10px;

                .nome-empresarial{
                    background-color: #198754;
                    color: #fff;
                    padding-left: 10px;
                }

                .razao_social{
                    font-weight: 600;
                    font-size:  x-large;
                    align-content: center;
                    margin-bottom: 3px;
                }

                .informacao{
                    align-content: center;
                    margin-bottom: 1px;
                    .label{
                        font-weight: 600;
                        font-size:  large;
                        align-content: center;
                        margin-bottom: 0px;
                    }
                }
                .botoes{
                    display: flex;
                    justify-content: space-between;
                    .botao{
                        margin-top: 10px;
                        margin-right: 10px;
                        width:200px;
                    }
                    .botao-editar{
                        margin-top: 10px;
                        // margin-right: 10px;
                        width:130px;
                    }
                }
            }
            .tipo-contato{
                font-weight: 600;
            }
        }

        .editar{
            width: inherit;
            
            .dados-basicos{
                width: inherit;


                .form-label{
                    margin-top: 10px;
                }

                .campo-basico{
                    width: 100%;
                }
                
                .cnpj{
                    width: 28%;
                }

            }
            
            .endereco{
                .cep-logradouro{
                    display: flex;
                    
                    .container-cep{
                        .cep{
                            width: 15vw;
                        }
                        margin-right: 10px;
                    }
                    .logradouro{
                        width:50vw;
                    }
                }
                .detalhes-endereco-container{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .numero{
                        width: 10vw;
                    }

                    .container-complemento{
                        margin-left: 10px;
                        .complemento{
                            width: 10vw;
                        }
                    }
                    .container-bairro{
                        margin-left: 10px;
                        .bairro{
                            width: 250px;
                        }
                    }
                    .container-cidade{
                        margin-left: 10px;
                        .cidade{
                            width: 200px;
                        }
                    }

                    .container-estado{
                        margin-left: 10px;
                        .complemento{
                            width: 100px;
                        }
                    }
                    .container-bairro{
                        margin-left: 10px;
                        .bairro{
                            width: 250px;
                        }
                    }
                }
                
            }

            .contatos{
                
                .cabecalho{
                    display: flex;
                }
                .container-adicionar-contato{
                    display: flex;
                    margin-left: 15px;
                    .tipo-novo{
                        appearance: listbox;
                        width: 150px;
                    }
                    .valor-novo{
                        margin-left: 10px;
                        width: 250px;
                    }
                    .icone-mais-background{
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        background-color: #198754;
                        border-radius: 50px;
                        margin-left:10px;
                        margin-top: 10px;
                        .icone{
                            // margin-bottom: 20px;
                            vertical-align: top;
                            #path-mais{
                                fill: #ffffff;
                            }
    
                        }
                    }
                }

                .linha-de-contato{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    
                    .tipo{
                        appearance: listbox;
                        width: 150px;
                    }
                    .valor{
                        margin-left: 10px;
                        width: 250px;
                    }

                    .icone-mais-background{
                        cursor: pointer;
                        width: 22px;
                        height: 22px;
                        background-color: #dc3545;
                        border-radius: 50px;
                        margin-left:10px;
                        margin-top: 8px;
                        .icone{
                            margin-top: 3px;
                            margin-left: 2.5px;
                            vertical-align: top;
                            #path-trash{
                                fill: #ffffff;
                            }
    
                        }
                    }

                }
            }

            .botoes{
                display: flex;
                // justify-content: space-between;
                width: inherit;
                .botao{
                    margin-top: 10px;
                    margin-right: 10px;
                    width:20vw;
                }
                .botao-editar{
                    margin-top: 10px;
                    margin-right: 10px;
                    width:100%;
                }
            }
        }
    }
    

}

