<div class="background">
    
    <div class="cabecalho">
        <div class="icone"><i class="bi bi-sticky-fill"></i></div>
        <div class="fs-5 fw-semibold titulo"> Resumo diário
        </div>
    </div>

    <div class="box-spinner" *ngIf="this.isCarregando">
        <div class="spinner-border text-success spinner" role="status" >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="conteudo" *ngIf="!this.isCarregando">
        <div class="resumo-superior">
            <div class="secao-totais">
                <div class="campo">
                    <span class="fs4 fw-semibold label"> Total de vendas: </span>&nbsp;
                    <span class="valor"> {{this.dados.total_vendas}}</span>
                </div>
                <div class="campo">
                    <span class="fs4 fw-semibold label"> Valor total das vendas: </span>&nbsp;
                    <span class="valor"> R$ {{this.dados.valor_total_vendas | number : "1.2-2"}}</span>
                </div>
            </div>
            <div class="secao-medias">
                <div class="campo">
                    <span class="fs4 fw-semibold label"> Venda média: </span>&nbsp;
                    <span class="valor"> R$ {{this.dados.venda_media | number : "1.2-2"}}</span>
                </div>
            </div>
        </div>
        <div class="tabela">
            <table class="table table-striped">
                <thead>
                    <th>Produto</th>
                    <th>Qtd</th>
                    <th>Valor total</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let produto of dados.produtos">
                        <td>{{produto.nome | encurtar:35 | uppercase}}</td>
                        <td class="qtd">{{produto.total_vendido}}</td>
                        <td>R$ {{produto.valor_total_vendido | number : "1.2-2"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>