<div class="box-spinner" *ngIf="this.isCarregando">
    <div class="spinner-border text-success spinner" role="status" >
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="conteudo" *ngIf="!this.isCarregando">
    
    <div class="tabela">
        <div class="filtro-botao">
            <button class="btn btn-success botao-nova" (click) = "prepararCadastro()" >
              <i class="bi bi-file-earmark-plus-fill"></i><div class="">Nova</div>
            </button>

            <div class="filtro">
                <div class="criterio-filtro">
                    <select
                      class="form-select"
                      name="selecionar-filtro"
                      id="selecionar-filtro"
                      [(ngModel)]="criterioFiltro"
                      (change) = "this.valorFiltro = ''"
                      >
                      <option value="id">Código</option>
                      <option value="dt_hr_venda">Data</option>
                    </select>
                </div>
                <div class="valor-filtro">
                  <input
                    type="date"
                    class="form-control"
                    name="filtro-valor"
                    id="filtro-valor"
                    [(ngModel)]="valorFiltro"
                    *ngIf = "this.criterioFiltro === 'dt_hr_venda'"
                  />
                  <input
                    type="search"
                    class="form-control"
                    name="filtro-valor"
                    id="filtro-valor"
                    [(ngModel)]="valorFiltro"
                    *ngIf = "this.criterioFiltro !== 'dt_hr_venda'"
                  />
                </div>
                <div class="total">Total: {{totalFiltrado |contadorFiltro:todasVendas:valorFiltro:criterioFiltro}}</div>
            </div>
        </div>
        
        <!-- TABELA -->
          
        <table class="table table-striped">
            <thead>
                <th>Cód.</th>
                <th>Data/Hora</th>
                <th>Pagamento</th>
                <th>Valor Total</th>
              </thead>
              <tbody>
                <tr 
                *ngFor="let venda of todasVendas | filtroLista:valorFiltro:criterioFiltro;"
                (click)="selecionarVenda(venda)">
                  <td>{{ venda.id | insereZeros:4}}</td>
                  <td>{{ venda.dt_hr_venda | data}}</td>
                  <td>{{ venda.forma_pagamento | traduzFormaPagamento}}</td>
                  <td>R$ {{ venda.valor_total_venda() | number : "1.2-2"}}</td>
                </tr>
              </tbody>
        </table>
          
    </div>

    <div class="venda">
        <div class="venda-selecionada" *ngIf="vendaSelecionada">
            <div class="cabecalho">
                <div class="titulo">Venda Selecionada</div>
            </div>
            <div class="descricao">
                <div class="informacao"><span class="label">Código: </span>{{vendaSelecionada.id | insereZeros:4}}</div>
                <div class="informacao"><span class="label">Data/hora: </span>{{vendaSelecionada.dt_hr_venda | data}}</div>
            </div>
            <div class="cabecalho pagamento">
                <div class="titulo">Ítems</div>
            </div>
            <div class="descricao items">
                <div *ngIf="(vendaSelecionada.items_venda.length <= 0)">
                    Não há produtos
                </div>
                <table class="table table-striped" *ngIf="vendaSelecionada.items_venda.length > 0">
                    <thead>
                        <th> </th>
                        <th>Produto</th>
                        <th>Qtd</th>
                        <th>Pço. un.</th>
                        <th>Pço. total</th>
                    </thead>
                    <tbody class="tabela-body">
                        <tr *ngFor="let item_venda of vendaSelecionada.items_venda; let i = index">
                            <td>{{i}}</td>
                            <td class = "nome-produto">{{item_venda.produto? item_venda.produto.nome: ""}}</td>
                            <td>{{item_venda.quantidade}}</td>
                            <td>R$ {{item_venda.preco_unitario | number : "1.2-2"}}</td>
                            <td>R$ {{item_venda.valor_total_item() | number : "1.2-2"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cabecalho pagamento">
                <div class="titulo">Valores e Pagamento</div>
            </div>
            <div class="descricao">
                <div class="informacao"><span class="label">Valor total: </span>R${{vendaSelecionada.valor_total_venda() | number : "1.2-2"}}</div>
                <div class="informacao"><span class="label">Forma de Pagamento: </span>{{vendaSelecionada.forma_pagamento | traduzFormaPagamento}}</div>
            </div>
        </div>
        <div class="venda-selecionada desativado" *ngIf="!vendaSelecionada">
            <p class="informacao-desativado">
                Selecione uma venda
            </p>
            <p class="icone-desativado">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="rgba(200,200,200)" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </p>
        </div>
    </div>
    <app-modal-venda></app-modal-venda>
</div>