tr:hover{
    background-color: rgba(25, 135, 84,0.75);
    td{
        color:white
    }
}

.botao-nova{
    margin-bottom: 5px;
}

table{
    margin-top: 10px;
}

thead{
    background-color: #198754;
}

th{
    vertical-align: middle;
    padding-left: 7px;
    color: white;
}

tr{
    cursor:pointer;
}

td{
    vertical-align: middle;
    background: transparent;
}
.conteudo{
    display: flex;
    .tabela{
        width: 42vw;
        .filtro{
            display: flex;
           .criterio-filtro{
                width: 14vw;
            } 
            .valor-filtro{
                    margin-left: 10px;
                    width: 19vw;
            } 
            .total{
                margin-left: 6px;
                width: 5vw;
                margin-top: 6px;
                font-weight: 600;
                vertical-align: middle;
            }
        }
    }

    .venda{
        width: 42vw;
        margin-left: 10px;
        .venda-selecionada{
            .cabecalho{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: #198754;
                color: #fff;
                .titulo{
                    margin-left:10px;
                    font-weight: 600;
                }
            }
            .cabecalho.pagamento{
                margin-top: 10px
            }
            .descricao{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                margin-left: 10px;
                .label{
                    font-weight: 600;
                    align-content: center;
                    margin-bottom: 0px;
                }
            }

            .descricao.items{
                max-height: 50vh;
                overflow-y: scroll;
                .nome-produto{
                    max-width: 10vw;
                }
                tr{
                    cursor:default;
                }
            }
            
        }

        .venda-selecionada,desativado{
            display: block;
            width: 27vw;
            .informacao-desativado{
                width: 27vw;
                text-align: center;
                font-weight: 600;
            }
            .icone-desativado{
                width: 27vw;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    
}