tr:hover{
    background-color: rgba(25, 135, 84,0.75);
    td{
        color:white
    }
}

.botao-nova{
    margin-bottom: 5px;
    width: 20vw;
}

table{
    margin-top: 10px;
}

thead{
    background-color: #198754;
    margin-top: 0px;
}


th{
    vertical-align: middle;
    padding-left: 7px;
    color: #fff;
    
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

tr{
    cursor:pointer;
}

td{
    vertical-align: middle;
    background: transparent;
}
.conteudo{
    display: flex;
    .tabela{
        width: 29vw;
        .filtro-botao{
            display: flex;
            .filtro{
                margin-left: 10px;
               .criterio-filtro{
                    width: 14vw;
                } 
                .valor-filtro{
                    display: flex;
                    margin-top: 10px;
                    width: 14vw;
                } 
                .total{
                    margin-left: 6px;
                    width: 7vw;
                    margin-top: 6px;
                    font-weight: 600;
                    vertical-align: middle;
                }
            }
        }
    }

    .venda{
        width: 42vw;
        margin-left: 10px;
        .venda-selecionada{
            .cabecalho{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: #198754;
                color: #fff;
                .titulo{
                    margin-left:10px;
                    font-weight: 600;
                }
            }
            .cabecalho.pagamento{
                margin-top: 10px
            }
            .descricao{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                margin-left: 10px;
                .label{
                    font-weight: 600;
                    align-content: center;
                    margin-bottom: 0px;
                }
            }

            .descricao.items{
                max-height: 50vh;
                min-height: 10vh;
                overflow-y: scroll;
                margin: 0px;
                .nome-produto{
                    max-width: 10vw;
                }
                thead{
                    background-color: #5ab68b;
                    margin-top: 0px;
                }
                tr{
                    cursor:default;
                }
                table{
                    margin: 0;
                }
            }
            
        }

        .venda-selecionada,desativado{
            display: block;
            width: 100%;
            .informacao-desativado{
                width: 100%;
                text-align: center;
                font-weight: 600;
            }
            .icone-desativado{
                width: 100%;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    
}

.box-spinner{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner{   
        width: 50px;
        height: 50px;
    }
}