<div class="row">
    <div class="col-md">
      <button class="btn btn-success botao-nova" (click) = "prepararCadastro()" >
        <i class="bi bi-file-earmark-plus-fill"></i> Nova
      </button>
    </div>
</div>

<div class="conteudo">
    
    <div class="tabela">
        <div class="filtro">
            <div class="criterio-filtro">
                <select
                  class="form-select"
                  name="selecionar-filtro"
                  id="selecionar-filtro"
                  [(ngModel)]="criterioFiltro"
                  >
                  <option value="id">Código</option>
                  <option value="dt_ht_venda">Data/Hora</option>
                </select>
            </div>
            <div class="valor-filtro">
              <input
                type="search"
                class="form-control"
                name="filtro-valor"
                id="filtro-valor"
                [(ngModel)]="valorFiltro"
              />
            </div>
            <div class="total">Total: {{totalFiltrado |contadorFiltro:todasVendas:valorFiltro:criterioFiltro}}</div>
        </div>
        
    
        <!-- TABELA -->
          
        <table class="table table-striped">
            <thead>
                <th>Cód.</th>
                <th>Data/Hora</th>
                <th>Forma de Pagamento</th>
                <th>Valor Total</th>
              </thead>
              <tbody>
                <tr 
                *ngFor="let venda of todasVendas | filtroLista:valorFiltro:criterioFiltro;"
                (click)="selecionarVenda(venda)">
                  <td>{{ venda.id | insereZeros:4}}</td>
                  <td>{{ venda.dt_hr_venda | data}}</td>
                  <td>{{ venda.forma_pagamento | traduzFormaPagamento}}</td>
                  <td>R$ {{ venda.valor_total_venda() | number : "1.2-2"}}</td>
                </tr>
              </tbody>
        </table>
        <div class="valores-tabela">

            <!-- <app-modal-entrada></app-modal-entrada> -->

        </div>
          
    </div>

    <div class="venda">
        <div class="venda-selecionada" *ngIf="vendaSelecionada">
            <div class="cabecalho">
                <div class="titulo">Venda Selecionada</div>
            </div>
            <div class="descricao">
                <div class="informacao"><span class="label">Código: </span>{{vendaSelecionada.id}}</div>
                <div class="informacao"><span class="label">Data/hora: </span>{{vendaSelecionada.dt_hr_venda | data}}</div>
            </div>
            <div class="cabecalho pagamento">
                <div class="titulo">Ítems</div>
            </div>
            <div class="descricao items">
                <table class="table table-striped">
                    <thead>
                        <th> </th>
                        <th>Produto</th>
                        <th>Qtd</th>
                        <th>Pço. un.</th>
                        <th>Pço. total</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item_venda of vendaSelecionada.items_venda; let i = index">
                            <td>{{i}}</td>
                            <td class = "nome-produto">{{item_venda.produto? item_venda.produto.nome: ""}}</td>
                            <td>{{item_venda.quantidade}}</td>
                            <td>R$ {{item_venda.produto? item_venda.produto.preco_venda: 0 | number : "1.2-2"}}</td>
                            <td>R$ {{item_venda.valor_total_item() | number : "1.2-2"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cabecalho pagamento">
                <div class="titulo">Valores e Pagamento</div>
            </div>
            <div class="descricao">
                <div class="informacao"><span class="label">Valor total: </span>R${{vendaSelecionada.valor_total_venda() | number : "1.2-2"}}</div>
                <div class="informacao"><span class="label">Forma de Pagamento: </span>{{vendaSelecionada.forma_pagamento | traduzFormaPagamento}}</div>
            </div>
        </div>
    </div>
</div>