<div class="row filtro">
    <div class="col-sm-3">
        <select
          class="form-select"
          name="selecionar-filtro"
          id="selecionar-filtro"
          [(ngModel)]="criterioFiltro"
          >
          <option value="nome">Nome</option>
          <option value="id">Código</option>
          <option value="descricao">Descricao</option>
          <option value="qtd_estoque">Quantidade</option>
          <option value="preco_venda">Preço de Venda (R$)</option>
        </select>
      </div>
      <div class="col-md-6">
        <input
          type="search"
          class="form-control"
          name="filtro-valor"
          id="filtro-valor"
          [(ngModel)]="valorFiltro"
        />
          <!-- (input)="filtrarTabela()" -->
      </div>
      <div class="col-sm-2">
        <div class="total">Total: {{totalFiltrado |contadorFiltroProduto:todosProdutos:valorFiltro:criterioFiltro}}</div>
      </div>

      <!-- TABELA -->
      
      <div class="row">
        <div class="col-md">
            <table class="table table-striped">
                <thead>
                    <th>Cód.</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço Venda</th>
                    <th>Estoque</th>
                    <th>Imagem</th>
                  </thead>
                  <tbody>
                    <tr 
                    *ngFor="let produto of todosProdutos | filtroProduto:valorFiltro:criterioFiltro;"
                    (click)="selecionarProduto(produto)">
                      <td>{{ produto.id | insereZeros:4}}</td>
                      <td>{{ produto.nome | encurtar:25}}</td>
                      <td>{{ produto.descricao | encurtar:50 }}</td>
                      <td>R$ {{ produto.preco_venda | number : "1.2-2" }}</td>
                      <td>{{ produto.qtd_estoque }}</td>
                      <td><img src = "https://images.tcdn.com.br/img/img_prod/1140357/caneta_esferografica_bic_cristal_dura_mais_azul_ponta_media_de_1_0mm_kit_10_unidades_2640_2_671e4fdf5e2c89e777e6923939970830.jpg" class = "imagem"></td>
                      <!-- <td>
                        <button class="btn btn-primary btn-sm botao-acao">
                          <i class="bi bi-eye"></i>
                        </button>
                        <button
                          class="btn btn-success btn-sm botao-acao"
                          >
                          (click)="editarProduto(produto)"
                          <i class="bi bi-pencil-square"></i>
                        </button>
                        <button
                          class="btn btn-danger btn-sm botao-acao"
                          (click)="excluirProduto(produto.id)"
                          >
                          <i class="bi bi-trash3"></i>
                        </button>
                      </td> -->
                    </tr>
                  </tbody>
            </table>
            <app-modal-produto
              *ngIf="produtoSelecionado"
              [produto] = "produtoSelecionado"
              (onFechar) = "fecharModal()"
              ></app-modal-produto>

        </div>
      </div>
      
    </div>
