
tr:hover{
    background-color: #198754;
    td{
        color:white
    }
}
.imagem:hover{
    height: 200px;
    transition: height 0.5s ;
}
.botao-limpar{
    margin-top: 5px;
    padding: 3px 4px 3px 4px;

}
.botao-acao{
    margin-right: 2px;
}
.botao-novo{
    margin-bottom: 5px;
}
th{
    vertical-align: middle;
    padding-left: 7px;
    color: white;
}
thead{
    background-color: #198754;
}
table{
    margin-top: 10px;
}
tr{
    cursor:pointer;
}
td{
    vertical-align: middle;
    background: transparent;
}
.imagem{
    height:50px;
}
.total{
    margin-top: 6px;
    font-weight: 600;
    vertical-align: middle;
}