<nav class="navbar navbar-expand-sm barra-navegacao">
  <div class="logo-nav" *ngIf="isLogado">
    <a routerLink="/" class="navbar-brand logo"
      ><img src="assets/leaf_white.svg" alt="logo" class="icone"
    ><span class="texto-icone">EcoSys</span></a> 
    
    <div class="container-fluid" *ngIf="this.modoAtivo === 'administracao'">
      <ul class="navbar-nav" >
        <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/" class="nav-link item-secao-nome">Home</a>
        </li>
        <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/vendas" class="nav-link item-secao-nome">Vendas</a>
        </li>
        <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/produtos" class="nav-link item-secao-nome">Produtos</a>
        </li>
        
        <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/fornecedores" class="nav-link item-secao-nome">Fornecedores</a>
        </li>
        <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/entradas" class="nav-link item-secao-nome">Entradas</a>
        </li>
      </ul>
    </div>
    <div class="container-fluid" *ngIf="this.modoAtivo === 'balcao'">
      <ul class="navbar-nav" >
        <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/vendas" class="nav-link item-secao-nome">Vendas</a>
        </li>
        <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/produtos" class="nav-link item-secao-nome">Produtos</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu-direito" *ngIf="isLogado">

    <ul class="navbar-nav">
      <li class="nav-item item-secao" (click)="trocarModo('balcao')">
        <a routerLink="/vendas" class="nav-link item-secao-nome" *ngIf="this.modoAtivo === 'administracao'" ><i class="bi bi-upc-scan"></i></a>
      </li>
      <li class="nav-item item-secao" (click)="trocarModo('administracao')">
        <a routerLink="/" class="nav-link item-secao-nome" *ngIf="this.modoAtivo === 'balcao'"><i class="bi bi-briefcase-fill"></i></a>
      </li>
      <li class="nav-item item-secao">
        <div class="dropdown">
          <button class="nav-link item-secao-nome" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="abrirModalEditarConta()">Editar Conta</a></li>
            <li *ngIf="tipoUsuario == 'g'"><a class="dropdown-item" (click)="abrirModalGerenciarUsuarios()">Gerenciar Usuarios</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item item-secao">
        <a routerLink="/" class="nav-link item-secao-nome" (click)="logout()"><i class="bi bi-door-closed-fill"></i> Logout</a>
      </li>
      <li class="nav-item item-secao usuario">
        <div class="nome-usuario item-secao-nome fw-semibold">
          {{getLogin()}}
        </div>
      </li>
    </ul>

  </div>
    
  </nav>
  <app-modal-editar-conta
    *ngIf="mostrarModalEditarConta"
    (fecharModalEditarConta) = "fecharModalEditarConta()"
    ></app-modal-editar-conta>
    
  <app-modal-gerenciar-usuarios
    *ngIf ="mostrarModalGerenciarUsuarios"
    >

  </app-modal-gerenciar-usuarios>