<nav class="navbar navbar-expand-sm barra-navegacao">
    <div class="container-fluid">
      <div class="logo-nav">
        <a routerLink="/" class="navbar-brand logo"
          ><img src="assets/leaf_white.svg" alt="logo" class="icone"
        ><span class="texto-icone">EcoSys</span></a> 
        
        <div class="container-fluid" *ngIf="this.modoAtivo != 'balcao'">
          <ul class="navbar-nav" >
            <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/" class="nav-link item-secao-nome">Home</a>
            </li>
            <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/produtos" class="nav-link item-secao-nome">Produtos</a>
            </li>
            
            <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/fornecedores" class="nav-link item-secao-nome">Fornecedores</a>
            </li>
            <li class="nav-item item-secao" routerLinkActive="item-ativo" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/entradas" class="nav-link item-secao-nome">Entradas</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-direito">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item item-secao">
              <a routerLink="/entradas" class="nav-link item-secao-nome" *ngIf="this.modoAtivo === 'administracao'" (click)="trocarModo('balcao')">Balcão</a>
            </li>
            <li class="nav-item item-secao">
              <a routerLink="/" class="nav-link item-secao-nome" *ngIf="this.modoAtivo === 'balcao'" (click)="trocarModo('administracao')">Administração</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </nav>
  