::-webkit-scrollbar-thumb {
    border: 0px solid #fff;
    background-color: #198754;
}
::-webkit-scrollbar-track {
    background-color: #c8c8c8;
    border-radius: 1px;
}

::-webkit-scrollbar {
  width: 12px; 
}

.blackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0,0.6);
  z-index: 10;
}