::-webkit-scrollbar-thumb {
    border: 0px solid #fff;
    background-color: #198754;
}
::-webkit-scrollbar-track {
    background-color: #c8c8c8;
    border-radius: 1px;
}

::-webkit-scrollbar {
  width: 12px; 
}
