<div class="blackdrop" (click)="fechar()"></div>
<div class="alert-box">
    <div class="cabecalho">
        <p class="titulo fs-4 fw-semibold" >Gerenciar Usuários </p>
        <div class="fechar" (click)="fechar()">x</div>
    </div>

    <div class="box-spinner" *ngIf="isLoading">
        <div class="spinner-border text-success spinner" role="status" >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="conteudo" *ngIf="!isLoading">
        <div class="box-lista-usuarios">
            <div class="box-botao-novo">
                <button class ="btn btn-success fw-semibold botao" type="button" (click)="prepararCadastro()"> <i class="bi bi-file-earmark-plus-fill"></i> Novo</button>
            </div>
            <div class="tabela">

                <table class="table table-striped">
                    <thead>
                        <th>Login</th>
                        <th class="th-categoria">Categoria</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" (click)="selecionarUsuario(usuario)">
                            <td class="fw-semibold">{{usuario.login}}</td>
                            <td>{{usuario.categoria | categoria}}</td>
                        </tr>
                    </tbody>
    
                </table>
            </div>

        </div>
        <div class="box-editar-usuario">
            <form class="formulario" [formGroup]="conteudoFormulario" (ngSubmit)="salvar()" *ngIf="usuarioSelecionado">
                <div class="campo">
                    <label class="form-label fw-semibold label">Login:</label>
                    <input
                        type="text"
                        class="form-control input"
                        formControlName = "login"
                        id="login">
                </div>
                <div class="campo" *ngIf="usuarioSelecionado.id == -1">
                    <label class="form-label fw-semibold label" >Nova Senha:</label>
                    <input
                        type="password"
                        class="form-control input"
                        formControlName = "senha"
                        id="senha"
                        autocomplete="on">
                </div>
                <div class="campo" *ngIf="usuarioSelecionado.id == -1">
                    <label class="form-label fw-semibold label">Confirmação de Senha:</label>
                    <input
                        type="password"
                        class="form-control input"
                        formControlName = "confirmacao-senha"
                        id="confirmacao-senha"
                        autocomplete="on">
                </div>
                <div class="campo">
                    <label class="form-label fw-semibold label">Categoria:</label>
                    <select
                        name="categoria"
                        class="form-select input"
                        formControlName="categoria"
                        id="categoria">
                        <option value="g">Gerência</option>
                        <option value="v">Vendas</option>
                    </select>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errosFormulario.length">
                    <p class="fw-semibold">ERRO!</p>
                    <p *ngFor = "let erro of errosFormulario">{{erro}}</p>
                </div>
                <div class="botoes">
                    <button class ="btn btn-success fw-semibold botao" type="submit"> <i class="bi bi-floppy-fill"></i> Salvar</button>
                    <button class ="btn btn-danger fw-semibold botao" type="button" (click)="fechar()"> <i class="bi bi-x-circle"></i> Cancelar</button>
                </div>
    
            </form>
        </div>
    </div>

</div>