.alert-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: fit-content;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #198754;
        color: #fff;
        .titulo{
            margin-left:10px
        }
        .fechar{
            text-align: right;
            font-weight: 600;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 5px
        }
    }
    
    .box-spinner{
        height: 50vh;
        width: 68vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .spinner{   
            width: 50px;
            height: 50px;
        }
    }

    .conteudo{
        margin-top:10px;
        margin-left:10px;
        width: 68vw;
        .subsecao{
            margin-bottom: 10px;
            .label{
                font-weight: 600;
                align-content: center;
                margin-bottom: 0px;
            }
            .subtitulo{
                display: flex;
                background-color: rgb(211, 211, 211);
                padding-left: 10px;
                padding-bottom: 3px;
                margin-bottom: 5px;
                height: 36px;
                .botao{
                    margin-top: 3px;
                    margin-left: 10px;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    i{
                        margin-top: -4px;
                        margin-left: -6px;
                        vertical-align: middle;
                    }
                }

            }

            .campos-pagamento{
                width: 100%;
                margin-top: 10px;
                .forma-pagamento{
                    display: flex;
                    .select-pagamento{
                        margin-left: 10px;
                        width: 20vw;
                    }

                }

            }
            .valores{
                display: flex;
            }

        }

    }
}

table{
    margin-top: 10px;
    thead, tfoot{
        background-color: #198754;
        th{
            vertical-align: middle;
            padding-left: 7px;
            color: #fff;
            
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
    tbody{
        tr{
            //TODO reduzir o tamanho da linha do modal
            td{
                vertical-align: middle;
                background: transparent;
            }
            .botao-tabela-excluir{
                cursor: pointer;
            }
        }
        tr:hover{
            background-color: rgb(211, 211, 211);
        }
    }
    
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
    .botao{
        margin-top: 10px;
        margin-right: 10px;
        width:200px;
    }
    .botao-editar{
        margin-top: 10px;
        // margin-right: 10px;
        width:130px;
    }

}