<div class="blackdrop" (click)="fechar()"></div>

<div class="alert-box">
    <div class="cabecalho">
        <p class="titulo fs-4 fw-semibold" >Editar Conta</p>
        <div class="fechar" (click)="fechar()">x</div>
    </div>

    <div class="conteudo">

        <div class="box-spinner" *ngIf="isLoading">
            <div class="spinner-border text-success spinner" role="status" >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <form class="formulario" [formGroup]="conteudoFormulario" (ngSubmit)="salvar()" *ngIf="!isLoading">
            <div class="campo">
                <label class="form-label fw-semibold label">Login:</label>
                <input
                    type="text"
                    class="form-control input"
                    formControlName = "login"
                    id="login">
            </div>
            <div class="campo">
                <label class="form-label fw-semibold label">Senha:</label>
                <input
                    type="password"
                    class="form-control input"
                    formControlName = "senha"
                    id="senha"
                    autocomplete="on">
            </div>
            <div class="campo">
                <label class="form-label fw-semibold label">Confirmação de Senha:</label>
                <input
                    type="password"
                    class="form-control input"
                    formControlName = "confirmacao-senha"
                    id="confirmacao-senha"
                    autocomplete="on">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errosFormulario.length">
                <p class="fw-semibold">ERRO!</p>
                <p *ngFor = "let erro of errosFormulario">{{erro}}</p>
            </div>
            <div class="botoes">
                <button class ="btn btn-success fw-semibold botao" type="submit"> <i class="bi bi-floppy-fill"></i> Salvar</button>
                <button class ="btn btn-danger fw-semibold botao" type="button" (click)="fechar()"> <i class="bi bi-x-circle"></i> Cancelar</button>
            </div>

        </form>
    </div>

</div>

