.blackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 10;
}
.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: fit-content;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #198754;
        color: #fff;
        height: 40px;
        .titulo{
            margin-top:3px;
            margin-left:10px
        }
        .fechar{
            text-align: right;
            font-weight: 600;
            cursor: pointer;
            margin: 5px
        }
    }

    .conteudo{
        display: flex;
        justify-content: center;
        margin-top:10px;
        margin-bottom:20px;
        .formulario{
            width: 80%;
            .label{
                margin-top: 10px;
            }
        }
        .botoes{
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}