<div class="blackdrop" (click)="this.fechar()" *ngIf = "this.temProdutoSelecionado()"></div>

<form class="alert-box" *ngIf = "this.temProdutoSelecionado()" [formGroup]="conteudoFormulario" (ngSubmit)="submeterFormulario()">
  
  <div class="cabecalho">
    <p class="titulo fs-4 fw-semibold" *ngIf="!this.inEdicao">{{ produto.nome }}</p>
    <p class="titulo fs-4 fw-semibold" *ngIf="this.inEdicao && this.produto.id !== -1">Editar Produto</p>
    <p class="titulo fs-4 fw-semibold" *ngIf="this.inEdicao && this.produto.id === -1">Cadastrar Produto</p>
    <p class="fechar" (click)="this.fechar()">x</p>
  </div>

  <div class="conteudo">
    <img
      class= "imagem"
      src="https://images.tcdn.com.br/img/img_prod/1140357/caneta_esferografica_bic_cristal_dura_mais_azul_ponta_media_de_1_0mm_kit_10_unidades_2640_2_671e4fdf5e2c89e777e6923939970830.jpg"
      alt=""/>

    <div class="dados">
      <div class="visualizacao" *ngIf="!inEdicao">
        
        <div class="informacoes">
          <div class="subtitulo fs-4 fw-semibold">Dados</div>

          <div class="informacao">
            <p class="label">Código:</p>
            <p class="descricao">{{ produto.id  | insereZeros:4}}</p>
          </div>

          <div class="informacao">
            <p class="label">Descricao:</p>
            <p class="descricao">{{ produto.descricao }}</p>
          </div>
  
          <div class="informacao valor">
            <p class="label">Qtd. em Estoque:</p>
            <p class="descricao">{{ produto.qtd_estoque }} un.</p>
          </div>
          
          <div class="informacao valor">
            <p class="label">Preço de venda:</p>
            <p class="descricao">R$ {{ produto.preco_venda }}</p>
          </div>
        </div>


        <div class="botoes">
          <button class="btn btn-primary botao" (click)="iniciarEdicao()">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button class="btn btn-danger botao" (click)="this.fechar()">
            <i class="bi bi-x-circle"></i> Fechar
          </button>
        </div>

      </div>

      <div class="edicao"  *ngIf="inEdicao">

        <div class="informacoes">
          <div class="informacao">
            <p class="label">Código:</p>
            <p class="descricao" *ngIf="produto.id !== -1">{{ produto.id  | insereZeros:4}}</p>
            <p class="descricao" *ngIf="produto.id === -1">---</p>
          </div>

          <div class="informacao">
            <p for="nome" class="form-label label">Nome:</p>
            <input
              type="text"
              id="nome"
              formControlName="nome"
              class="form-control">
          </div>

          <div class="informacao">
            <p for="descricao" class="form-label label">Descrição:</p>
            <input
              type="text"
              id="descricao"
              formControlName="descricao"
              class="form-control">
          </div>

          <div class="informacao valor">
            <p for="preco_venda" class="form-label label">Preço de venda (R$):</p>
            <input
                  type="number"
                  inputmode="numeric"
                  step="0.05"
                  id="preco_venda"
                  formControlName="preco_venda"
                  class="form-control"
                  min="0.00">
          </div>
          
          <div class="informacao valor">
            <p for="qtd_estoque" class="form-label label">Qtd. estoque:</p>
            <p class="descricao">{{produto.qtd_estoque}}</p>
          </div>

        </div>

        <div class="botoes">
          <button type="submit" class="btn btn-primary botao" [disabled]="!conteudoFormulario.valid">
            <i class="bi bi-floppy-fill"></i> Salvar
          </button>
          <button class="btn btn-danger botao" (click)="excluir()">
            <i class="bi bi-trash-fill"></i> Excluir
          </button>
          <button class="btn btn-danger botao" (click)="fechar()">
            <i class="bi bi-x-circle"></i> Cancelar
          </button>
        </div>

      </div>
    </div>

    
  </div>
  
</form>

<!-- <div class="alert-box">
  
  <div class="conteudo">

      <!-- <div class="editar" *ngIf="inEdicao">
        <div class="dados">
          <div class="valores">
            </div>
          </div>

          <div class="informacao">
            <button class="btn btn-primary btn-sm botao-alterar-imagem" (click)="this.fechar()">
                <i class="bi bi-pencil-square" ></i> Alterar imagem
            </button>
          </div>

        </div> -->

      <!-- </div> -->
      <!-- <div class="botoes" *ngIf="inEdicao">
        <button type="submit" class="btn btn-primary botao-editar" [disabled]="!conteudoFormulario.valid">
          <i class="bi bi-floppy-fill"></i> Salvar
        </button>
        <button class="btn btn-danger botao-editar" (click)="comando('excluir')">
          <i class="bi bi-trash-fill"></i> Excluir
        </button>
        <button class="btn btn-danger botao-editar" (click)="comando('fechar')">
          <i class="bi bi-x-circle"></i> Cancelar
        </button>
      </div> -->
    <!-- </div> -->
      <!-- <form [formGroup]="conteudoFormulario" (ngSubmit)="submeterFormulario()">

      </form> -->
<!-- </div> -->
