.blackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 0;
}
.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #198754;
        color: #fff;
        height: 40px;
        width: 100%;
        .titulo{
            margin-top:3px;
            margin-left:10px
        }
        .fechar{
            text-align: right;
            font-weight: 600;
            cursor: pointer;
            margin: 5px
        }
    }
    .conteudo{
        width: fit-content;
        height: 100%;
        overflow-y: auto;
        display: flex;
        .subtitulo{
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: rgb(211, 211, 211);
            padding-left: 10px;
            padding-bottom: 3px;
            margin-bottom: 5px;
            align-items: center;
        }
    
        .imagem{
            height: 50vh;
            // border-top: 1px solid #198754;
            border-left: 5px solid #198754;
            border-right: 5px solid #198754;
            border-bottom: 5px solid #198754;
            box-sizing: border-box;

            // border-radius: 10px;
            // margin-left: 10px;
        }
        .informacoes{

            .visualizar{
                .dados{
                    .informacao{
                        padding-left: 10px;
                        align-content: center;
                        margin-bottom: 1px;
                        .label{
                            font-weight: 600;
                            font-size:  large;
                            align-content: center;
                        }
                    }
                }
            }
        }
        .botoes{
            // position: relative;
            // bottom: 0;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            .botao{
                margin: 5px;
                width:200px;
            }
        
        }
    }
}


// .conteudo,.visualizar,.editar{
    
// }
.dados{
    margin-left: 10px;
}
.nome{
    font-weight: 600;
    font-size:  x-large;
    align-content: center;
}
.label{
    font-weight: 600;
    font-size:  large;
    align-content: center;
    margin-bottom: 0px;
}
.fechar{
    text-align: right;
    font-weight: 600;
    cursor: pointer;
    margin-right: 5px;
}
.valores-formulario{
    display: flex;
}
.campo-preco{
    margin-right: 10px;
}
.url-imagem{
    display:flex;
    justify-content: space-between;
}
.botao-alterar-imagem{
    margin-left: 10px;
}