<div class="background">
    <div class="cabecalho">
        <div class="icone"><i class="bi bi-bell-fill"></i></div>
        <div class="fs-5 fw-semibold titulo"> Notificações ({{dados.length}})
        </div>
    </div>
    <div class="conteudo">
        <div class="tabela">
            <table class="table table-striped">
                <thead>
                    <th>Produto</th>
                    <th>Status</th>
                    <th>Qtd.</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let dado of dados">
                        <td>{{dado.nome_produto | encurtar:35}}</td>
                        <td [ngClass]="{baixo: dado.status() === 'Baixo', vazio: dado.status() === 'Vazio'}">{{dado.status()}}</td>
                        <td class = "qtd_estoque">{{dado.qtd_estoque}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
