tr:hover{
    background-color: rgba(25, 135, 84,0.75);
    td{
        color:white
    }
}

.celula-imagem:hover{
    height: 200x;
    transition: height 0.5s ;
    .imagem{
        height: 200px;
        transition: height 0.5s ;
    }
}

.tabela{
    margin-top: 10px;
    width: 79vw;
}


th{
    vertical-align: middle;
    padding-left: 7px;
    color: white;
}
thead{
    background-color: #198754;
}
table{
    margin-top: 10px;
}
tr{
    cursor:pointer;
}
td{
    vertical-align: middle;
    background: transparent;
}
.imagem{
    height:50px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(25, 135, 84,0.2);
    border-width: 1px;
    margin-right: 10px;
}
.total{
    margin-top: 6px;
    font-weight: 600;
    vertical-align: middle;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 77vw;
    background-color: #198754;
    color: #fff;
    .titulo{
        margin-left:10px
    }
}