.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
}
.alert-box {
    position: fixed;
    top: 15vh;
    left: 20vw;
    width: 70vw;
    height: fit-content;
    padding: 10px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
    text-align: justify;
}

img{
    height: 300px;
    border-style: solid;
    border-radius: 10px;
    border-color: #198754;
    border-width: 1px;
    margin-right: 10px;
}
.conteudo,.visualizar,.editar{
    display: flex;
}
.dados{
    margin-left: 10px;
}
.nome{
    font-weight: 600;
    font-size:  x-large;
    align-content: center;
}
.label{
    font-weight: 600;
    font-size:  large;
    align-content: center;
    margin-bottom: 0px;
}
.fechar{
    text-align: right;
    font-weight: 600;
    cursor: pointer;
    margin-right: 5px;
}
.botoes{
    display: flex;
    justify-content: space-between;
    .botao{
        margin-top: 10px;
        margin-right: 10px;
        width:200px;
    }
    .botao-editar{
        margin-top: 10px;
        // margin-right: 10px;
        width:130px;
    }
}
.valores{
    display: flex;
}
.campo-preco{
    margin-right: 10px;
}
.url-imagem{
    display:flex;
    justify-content: space-between;
}
.botao-alterar-imagem{
    margin-left: 10px;
}