<div class="blackdrop" *ngIf="this.temEntradaSelecionada()">
    <div class="alert-box">
        <div class="cabecalho">
            <div class="titulo fs-4 fw-semibold">Detalhar Entrada</div>
            <div class="fechar" (click)="fechar()">x</div>
        </div>
        <div class="conteudo">

            <!-- VISUALIZAÇÃO -->
            <div class="visualizar" *ngIf="!inEdicao">
                <div class="dados">
                    <div class="subsecao">
                        <div class="fs-4 fw-semibold subtitulo">Dados Básicos</div>
                        <p class="informacao"><span class="label">Data/Hora de Entrada: </span>{{entrada.dt_hr_entrada | data}}</p>
                        <p class="informacao"><span class="label">Número da Nota: </span>{{entrada.nu_nota_fiscal}}</p>

                    </div>
                    
                    <div class="subsecao">
                        <div class="fs-4 fw-semibold subtitulo">Fornecedor</div>
                        <p class="informacao"><span class="label">Nome empresarial: </span>{{ entrada.fornecedor.nome_empresarial}}</p>
                        <p class="informacao"><span class="label">CNPJ:</span> {{entrada.fornecedor.cnpj | cnpj}}</p>
                        <p class="informacao"><span class="label">Razão Social: </span>{{ entrada.fornecedor.razao_social }}</p>
                    </div>
                    
                    <div class="subsecao">
                        <div class="fs-4 fw-semibold subtitulo produtos_recebidos">Produtos Recebidos</div>
                        <table class="table table-striped">
                            <thead>
                                <th> </th>
                                <th>Produto</th>
                                <th>Qtd</th>
                                <th>Pço. un.</th>
                                <th>Pço. total</th>
                            </thead>
                            <tr *ngFor="let item_entrada of entrada.items_entrada; let i = index">
                                <td>{{i}}</td>
                                <td>{{item_entrada.produto.nome}}</td>
                                <td>{{item_entrada.quantidade}}</td>
                                <td>R$ {{item_entrada.preco_compra| number : "1.2-2"}}</td>
                                <td>R$ {{item_entrada.valor_total_item() | number : "1.2-2"}}</td>
                            </tr>
                            <tfoot>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th>Total:</th>
                                <th>R$ {{entrada.valor_total_nota()| number : "1.2-2"}}</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="botoes">
            <button class="btn btn-primary botao" (click)="iniciarEdicao()">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button class="btn btn-danger botao" (click)="fechar()">
              <i class="bi bi-x-circle"></i> Fechar
            </button>
        </div>
</div>
